<div class="seccionCreateProduct">
    <div class="containerCreateProduct">
        <h2>Crear Producto</h2>
        <form action="" class="formCreateProduct" id="form">
            <input type="hidden" id="userRole" value={{user.role}}>

            <div class="inputArea">
                <label for="title">
                    Title:
                </label>
                <input type="text" id="title">
            </div>
            <div class="inputArea">
                <label for="">
                    Description:
                </label>
                <input type="text" id="description">
            </div>
            <div class="inputArea">
                <label for="">
                    Price:
                </label>
                <input type="text" id="price">
            </div>
            <div class="inputArea">
                <label for="">
                    Thumbnail:
                </label>
                <input type="file" id="thumbnail" accept="image/*">
            </div>
            <div class="inputArea">
                <label for="">
                    Code:
                </label>
                <input type="text" id="code">
            </div>
            <div class="inputArea">
                <label for="">
                    Stock:
                </label>
                <input type="text" id="stock">
            </div>
            <div class="inputArea">
                <label for="">
                    Category:
                </label>
                <input type="text" id="category">
            </div>
            <button type="submit" class="btnSend">Send</button>
        </form>
        <div>
            <p id="mensajeError"></p>
        </div>
    </div>
</div>

<script type="module" src="/static/js/product/createProduct.js"></script>