<div>
    <h1>Productos</h1>
    <div style="display: grid; grid-template-columns:repeat(3,1fr); gap: 1rem;">

        {{#each data}}
        {{!-- card Producto --}}
        <div style="border: solid 1px black; padding: 0.2em;">
            {{!-- Img --}}
            <div>
                {{!-- <img src="" alt={{_thumbnail}}> --}}
                <img src="/static/img/{{_thumbnail}}" alt="img" style="width: 100%; height: 100%;">
            </div>
            {{!-- Info --}}
            <div>
                <strong>{{_title}}</strong><br>
                <strong>${{_price}}</strong>
            </div>
            <button>Ver Producto</button>
        </div>
        {{/each}}
    </div>
</div>