<div>
    <form id="form">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" >
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" >
        </div>
        <button type="submit">Login</button>
    </form>
    <button onclick="window.location.replace('/api/sessions/ghlogin')">Github</button>
    <p><a href="/register">Registrate</a></p>
    <p><a href="/passwordReset">Recuperar Contraseña</a></p>
    <p id="info" style="color: red;"></p>
</div>

<script>

    const form = document.querySelector('#form');
    const pinfo = document.querySelector('#info');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const email = document.querySelector("#email").value;
        const password = document.querySelector("#password").value;
        const login = {
            email, password
        }
        const res = await fetch('/api/sessions/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(login)
        })
        const responseData = await res.json();
        if (responseData.status) {
            window.location.href = responseData.data.url
        } else {
            pinfo.innerText = responseData.message
        }

    })

</script>