<div>
    <h1>Nueva Contraseña</h1>
    <form action="">
        <div>
            <label for="new-password">Nueva Contraseña:</label>
            <input type="password" name="newPassword" id="newPassword" required>
        </div>
        <div>
            <label for="confirm-password">Confirmar Contraseña:</label>
            <input type="password" name="confirmPassword" id="confirmPassword" required>
        </div>
        <button type="submit">Guardar Contraseña</button>
    </form>
    <p id="info"></p>
</div>

<script>

    const form = document.querySelector("form");
    const pinfo = document.querySelector("#info");
    const newPasswordInput = document.querySelector("#newPassword");
    const confirmPasswordInput = document.querySelector("#confirmPassword");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const newPassword = newPasswordInput.value.trim();
        const confirmPassword = confirmPasswordInput.value.trim();

        if (newPassword !== confirmPassword) {
            pinfo.innerText = "Las contraseñas no coinciden. Por favor, inténtalo de nuevo.";
            return;
        }

        const body = { password: newPassword };

        const response = await fetch('/api/users/passwordReset', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(body)
        });
        
        const { status, data } = await response.json();

        if (status) {
            window.location.href = data.url;
        } else {
            pinfo.innerText = "Error al actualizar la contraseña. Por favor, intenta de nuevo.";
        }
    })

</script>