<style>
    .ticket {
        background: #fff;
        border: 2px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 0.5em;
    }
</style>

<div class="ticket">
    <div class="ticket-header">
        <h1>Ticket #{{ticketId}}</h1>
        <p>¡Gracias por su compra! Este es su ticket de compra para el pedido <strong>#{{ticketId}}</strong>. A
            continuación, puede revisar los detalles de su compra utilizando el visor de PDF. Este documento incluye
            información sobre los artículos adquiridos, precios y el estado de su pedido. Si tiene alguna pregunta o
            necesita asistencia adicional, no dude en contactarnos.</p>
        <input type="hidden" name="" id="ticketId" value={{ticketId}}>
        <iframe id="pdfViewer" width="600" height="800"></iframe>
    </div>
</div>

<script src="/static/js/ticket/generateTicket.js"></script>