<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href="/">Product</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/carts">Cart</a></li>
            </ul>
        </nav>
        <aside>
            <ul>
                <li><a href="/createProduct">Create Product</a></li>
                <li><a href="/premiumDocsUpload">Documentos para Premium</a></li>
                <li><a href="/premium">Actualizar a Premium</a></li>
            </ul>
        </aside>
        <div class="containerMain">
            {{{body}}}
        </div>
    </main>
</body>


</html>